/* Container to hold the button and the label */

.actionbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    background-color: #c7c7c7;
    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #c7c7c7;
}

/* Style for the round button */
.round-button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: black;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    transition: transform 0.2s ease;
}

/* Add hover effect for the button */
.round-button:hover {
    transform: scale(1.1);
}

/* Icon inside the button */
.button-icon {
    width: 40px; /* Adjust size as needed */
    height: 40px;
    object-fit: contain;
}

/* Label under the button */
.button-label {
    margin-top: 10px;
    font-size: 14px;
    color: black;
    text-align: center;
}
