.sql-console {
    position: fixed;

    width: 100%; /* Adjust as needed */
    height: 75%; /* Adjust as needed */

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1; /* You can adjust this if needed */

    background-color: #141218;

    /* Make the element a flex container */
    display: flex;
    flex-direction: column; /* Use 'column' for vertical layout */
    /* Optionally, add alignment properties */
    justify-content: center; /* Horizontal alignment */
    align-items: center;     /* Vertical alignment */
}

.sql-console-query-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #141218;
}

.sql-console-result-view {
    background-color: #49454F;
    color: #E6E0E9;
}

.flex-fill {
    flex-grow: 1;
}