.problem-view {
    display: flex;
    flex-direction: column;
    background-color: var(--md3-background);
    height: 100vh;

    .title {
        height: 2vh;
        text-align: center;
        border-bottom: 1px solid var(--md3-border); /* You can adjust the width, style, and color */
        margin: 0 10vw;
    }

    .message-log-view {
        overflow-y: auto;
        height: 44vh;
    }

    .sql-console-view {
        height: 54vh;
    }
}