.problem-view {
    display: flex;
    flex-direction: column;
    background-color: var(--md3-background);
    height: 100dvh;

    .title {
        height: 2.3dvh;
        text-align: center;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); /* Drop shadow */
        z-index: 1;

        h4 {
            font-size: 0.80rem;
        }
    }

    .message-log-view {
        overflow-y: auto;
        height: 44dvh;
    }

    .sql-console-view {
        height: 54dvh;
    }
}