.sql-console {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--md3-secondary);
    color: var(--md3-on-secondary);

    /* Webkit browsers (Chrome, Safari, Edge) */
    ::-webkit-scrollbar {
        width: 6px; /* Width of the scrollbar */
    }

    ::-webkit-scrollbar-track {
        background: var(--md3-secondary); /* Background of the scrollbar track */
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--md3-secondary-light); /* Scrollbar color */
    }

}

.sql-console-title {
    height: 2vh;
    text-align: center;
    margin: 0 10vw;

    h4 {
        color: var(--md3-on-primary);
    }
}

.action-bar {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: relative;
    bottom: 1vh;
}

.send-result {
    background-color: var(--md3-success);
    color: var(--md3-on-primary);
    width: 100%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5); /* Drop shadow */
    position: absolute;
    right: 1.5vw;
}

.execute-query {
    color: var(--md3-on-primary);
    width: 100%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5); /* Drop shadow */
    margin: auto;
}

.sql-console-query-input {
    height: 29vh;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}

.sql-console-result-table {
    overflow-y: auto;

    table {
        font-size: 0.85rem;
        width: 100%;           /* Optional: To make the table take full width */
        border-collapse: collapse; /* Ensures borders are shared between cells */
        font-family: 'ui-monospace', 'SFMono-Regular', 'SF Mono', 'Consolas', 'Liberation Mono', 'Menlo', 'monospace';
    }

    th {
        border: 1px dotted var(--md3-secondary-dark); /* Adds border to table, header (th), and cells (td) */
        font-size: 1.2rem;
    }

    td {
        border: 1px dotted var(--md3-secondary-dark); /* Adds border to table, header (th), and cells (td) */
    }

    th {
        padding: 1px;          /* Optional: Adds some padding inside the cells */
        text-align: center;       /* Optional: Aligns text to the left */
        background-color: var(--md3-secondary-dark);
    }

    td {
        padding: 1px;          /* Optional: Adds some padding inside the cells */
        text-align: center;       /* Optional: Aligns text to the left */
    }
}

.sql-console-result-view {
    display: flex;
    flex-direction: column;
    height: 25vh;

    border-top: 2px solid var(--md3-secondary-dark); /* You can adjust the width, style, and color */
    border-bottom: 1px dotted var(--md3-secondary-dark); /* You can adjust the width, style, and color */
}