#root {
    height: 100dvh;
    width: 100dvw;
    max-width: 1000px;
    margin: auto;
    border-left: 1px solid rgba(255, 255, 255, 0.15); /* Light, semi-transparent white border */
    border-right: 1px solid rgba(255, 255, 255, 0.15); /* Light, semi-transparent white border */
}
